/* --------------------------------------
FONT IMPORT - GOOGLE
-----------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@font-face {
  font-family: 'Montserrat Alternates', sans-serif;
  src: url(../fonts/Oswald-DemiBold.ttf);
}
@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/MontserratAlternates-Regular.ttf);
}
 
/* --------------------------------------
GLOBAL STYLES
-----------------------------------------*/
html{
    overflow-x: hidden;
    width: 100%;
}
body {
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  color: #353535;
  line-height: normal;
  background: #fff;
  overflow: hidden;

}
/* Other fixes*/
*,*:before,*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	        box-sizing: border-box;
}
i {
	vertical-align: middle;
}
ul, ol {
  padding-left: 0 !important; 
}
li {
  list-style: none;
}
h1 , h2, h3, h4, h5{
  margin: 0;
  padding: 0;
}
p{ }
/* LINKS */
a{ }
a:hover{ text-decoration: none;}

a {text-decoration:none;}
a:hover {text-decoration:none; }
a:before,a:after { text-decoration:none;}
a:before,a:after,
a:hover:before,a:hover:after {text-decoration:none;}

/* IMG RESPONSIVE */
img{
  display: block;
  max-width: 100%;
  height: auto;
}
/* General settings */
.nospace{
   padding: 0 !important;
   margin: 0 !important;
}
.container-fluid{
  padding-right: 150px;
  padding-left: 150px;
  max-width: 2000px;
}
.wrapper{
 max-width: 2500px;
}
/* FORM */
/*---------------------------------------
FORM                 
-----------------------------------------*/
.form-control{
  background: #f0f0f0;
  height: 39px;
  color: #545454;
  font-size: 18px;
  box-shadow: none;
  border: 1px solid #ededed;
  border-radius:                    0px;
  -webkit-border-radius:            0px;
  -moz-border-radius:               0px;
}
.form-control::-moz-placeholder {
  color: #d1d3d4;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #d1d3d4;
}
.form-control::-webkit-input-placeholder {
  color: #d1d3d4;
}
.form-contact.big input.form-control,
.form-contact.big select.form-control{
  height: 54px;
  font-size: 18px;
}
.form-contact .btn{
  background: #0f613a;
  width: 100%;
  padding: 8px 30px;
  text-transform: uppercase;
  color: #fff;
  border-radius:                    0px;
  -webkit-border-radius:            0px;
  -moz-border-radius:               0px;
}
.form-group{
  padding-bottom: 0px;
}
.form-contact .form-group label{
  font-size: 18px;
  color: #acacac;
  font-style: italic;
  font-weight: normal;
}
.form-contact .btn-arrow{
  border: none;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  margin: 0 auto;
  text-align: center;
  display: block;
  position: relative;
  top: -10px;
}

/* --------------------------------------
HEADER
-----------------------------------------*/
header{
  position: absolute;
  z-index: 6000;
  width: 100%;
}
header section,
footer section{
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}
header .column,
footer .column{
  width: 100%;
  background-color: #42A68A;
  padding: 15px 15px;
  margin-right: 3px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
}
header .column a,
footer .column a{
  color: #fff;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}
header .column.first,
footer .column.first{
  width: 100%;
  background-color: #F0A315;
  padding: 15px 15px;
  margin-right: 3px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
}
footer .column.first{
 flex-grow: 6.2;
}
footer .column.first ul{
  float: left;
}
footer .column.first ul li{
  display: inline-block;
  padding: 0 10px;
}
header .column.first a,
footer .column.first a.call{
  background: url(../images/icon_call.png) 0 0 no-repeat;
  background-size: contain;
  padding-left: 20px;
}
header .column.last,
footer .column.last{
  margin-right: 0;
}
header .column.white{
  background-color: #fff;
}
footer .column.gray{
  background-color: #e6e7e9;
}
header .column.white a{
  color: #000;
}
footer .column.gray a{
  color: #4b4b4b;
}
header .logo{
  left: 0;
  padding: 10px;
  position: absolute;
}
header .logo img{
  width: auto;
  height: auto;
}
header #menu{
  padding-top: 80px !important;
  color: #fff;
}
/* MENU */
#menu{
  position: relative;
  z-index: 5000;
  margin: 0;
  text-align: right;
}
#menu li {
  position: relative;
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}
#menu li a {
  color: #fff;
  display: block;
  font-weight: bold;
  
}
/* first level */
#menu > li {
  display: inline-block;
  text-transform: uppercase;
}
#menu > li > a {
  height: 100%;
  font-size: 18px; 
  line-height: 1.5em; /* 60 (24) */
  margin: 0 15px !important;
  padding: 0 0 5px 0 !important;
}
/*---------------------------------------
SECTION: BANNER   
-----------------------------------------*/
.banner{
  min-height: 300px;
  position: relative;
  z-index: 3000;
}
.banner .title{
  position: absolute;
  top: 55%;
  left: 50%;
  margin: 0; 
  transform: translate(-50%, -50%);
  text-align: center;
  width: 90%;
  z-index: 3000;
}
.banner .title h1{
  color: #fff;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-size: 130px;
  padding-bottom: 80px;
}
.banner .title h1 span{
  font-size: 53px;
  display: block;
  letter-spacing: 15px;
}
.banner .title p{
  display: inline-block;
  text-align: center;
}
.banner .title a{
  background-color: rgba(19, 76, 61, 0.5);
  padding: 20px 20px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}
.banner .title a.call{
  background-color: #42A68A;
}
.banner .title a.call span{
  background: url(../images/icon_arrow_slider.png) right center no-repeat;
  padding-right: 25px;
  background-size: contain;
}
.banner .title a.sched{
  background: #F0A315;
  margin-left: 10px;
}
.banner .title a.sched span{
  background: url(../images/icon_arrow_slider.png) right center no-repeat;
  padding-right: 25px;
  background-size: contain;
}
.gradientfill{
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.45704219187675066) 50%);
  position: absolute;
  top:0;
  width: 100%;
  height: 100%;
  z-index: 2000;
}
.banner video{
  width: 100%;
}
/*---------------------------------------
SECTION: BANNERSUB   
-----------------------------------------*/
.bannersub{
  min-height: 300px;
  position: relative;
  z-index: 3000;
}
.bannersub img{
  min-height: 300px;
  object-fit: cover;
}
/*---------------------------------------
SECTION: TESTIBLOCK
-----------------------------------------*/
.testiblock{
  padding-bottom: 60px;
  background: #f2f2f2 bottom center no-repeat;
}


.subpageblock h1{
  background: #42A68A;
  padding: 50px 0;
  text-align: center;
  color: #fff;
  font-size: 48px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 8px;
}
.testislider.owl-carousel .owl-nav .owl-prev,
.testislider.owl-carousel .owl-nav .owl-next,
.testislider1.owl-carousel .owl-nav .owl-prev,
.testislider1.owl-carousel .owl-nav .owl-next{
    width: 61px;
    height: 168px;
    color: transparent;
    border-radius: 0;
    margin: 0 !important;
}
.testislider.owl-carousel .owl-nav .owl-prev,
.testislider.owl-carousel .owl-nav .owl-prev:hover,
.testislider1.owl-carousel .owl-nav .owl-prev,
.testislider1.owl-carousel .owl-nav .owl-prev:hover{
    background: url('../images/icon_arrow_photoslider_left.png') no-repeat;
    color: transparent;
    position: absolute;
    top: 30%;
    left: -100px;
}
.testislider.owl-carousel .owl-nav .owl-next,
.testislider.owl-carousel .owl-nav .owl-next:hover,
.testislider1.owl-carousel .owl-nav .owl-next,
.testislider1.owl-carousel .owl-nav .owl-next:hover{
    background: url('../images/icon_arrow_photoslider_right.png') no-repeat;
    color: transparent;
    position: absolute;
    top: 30%;
    right: -100px;
}
.testislider img{
  max-width: 70%;
  padding-bottom: 20px;
}
.testislider .item{
  position: relative;
  padding: 30px;
  text-align: center;
}
.testislider .item .box{
  -webkit-box-shadow: 0px 0px 15px 2px #B3B3B3; 
  box-shadow: 0px 0px 15px 2px #B3B3B3;
  padding: 50px 30px;
  height: 368px;
  background: #fff;
}
.testislider .item img{
  margin: 0 auto;
}
.testislider .item p{
  color: #666666;
  font-size: 16px;
  padding: 10px;
  
}
.testislider .item h4{
  color: #F0A315;
  font-size: 18px;
  font-weight: bold;
}
.testislider .item h4 span{
  display: block;
  color: #bcbec0;
  font-size: 10px;
  padding-top: 10px;
  letter-spacing: 3px;
}
/*---------------------------------------
SECTION: SUBPAGEBLOCK
-----------------------------------------*/
.subpageblock p{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 25px;
}
.subpageblock .wrap{
  padding-left: 30px;
}
/*---------------------------------------
SECTION: BLOCKTEXT
-----------------------------------------*/
.blocktext.colored{
  background: #f2f2f2;
  margin: 50px 0;
}
.testiblock h3{
  background: #42A68A;
  padding: 50px 0;
  text-align: center;
  color: #fff;
  font-size: 48px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 8px;
}
.blocktext h2 {
  background: #F0A315;
  padding: 50px 0;
  text-align: center;
  color: #fff;
  font-size: 48px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 8px;
}
.blocktext h3{
  font-size: 24px;
  color: #414042;
  text-transform: uppercase;
  padding: 0 0 10px 0;
  font-family: 'Montserrat', sans-serif;
}
.blocktext h4{
  color: #a7a9ac;
  font-size: 14px;
  font-weight: normal !important;
  text-transform: uppercase;
  padding: 0 0 10px 10px;
  font-style: italic;
}
.phototext .photoside{
  position: relative;
  background: #000;
  padding: 0;
}
.phototext .photoside h3{
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  font-size: 36px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 5px;
}
.blocktext p{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 25px;
}
.phototext .textside .wrap{
  padding: 50px;
}

/* --------------------------------------
SECTION: SLIDERSHOWCASE
-----------------------------------------*/
.slidershowcase{
  position: relative;
  top: -180px;
  margin-bottom: -200px;
}
.slidershowcase .item{
  position: relative;
}
.slidershowcase.owl-carousel .owl-nav .owl-prev,
.slidershowcase.owl-carousel .owl-nav .owl-next,
.slidershowcase.owl-carousel .owl-dot {
    width: 63px;
    height: 186px;
    color: transparent;
    border-radius: 0;
    margin: 0 !important;
}
.slidershowcase.owl-carousel .owl-nav .owl-prev,
.slidershowcase.owl-carousel .owl-nav .owl-prev:hover{
    background: url('../images/icon_arrow_photoslider_left.png') no-repeat;
    color: transparent;
    position: absolute;
    top: 25%;
    left: 10px;
}
.slidershowcase.owl-carousel .owl-nav .owl-next,
.slidershowcase.owl-carousel .owl-nav .owl-next:hover{
    background: url('../images/icon_arrow_photoslider_right.png') no-repeat;
    color: transparent;
    position: absolute;
    top: 25%;
    right: 10px;
}
/*---------------------------------------
Donate
-----------------------------------------*/
.contactnum p{
  font-size: 50px;
  text-align: center;
  margin-bottom: 70px;
  font-weight: bold;
  font-family: 'Montserrat Alternates', sans-serif;
}
.contactnum p span{
  background: url(../images/icon_call_big.png) 0 0 no-repeat;
  padding-left: 65px;
  background-size: contain;
  letter-spacing: 2px;
}
.contactnum p span a{
 color: #6d6e71;
}
.sideform{
  background-color: #F0A315;
  padding: 40px 50px 0 50px;
  position: relative;
  top: -200px;
}
.sideform h2{
  text-align: center;
  padding: 0 0 40px 0;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 48px;
}
.hideme{
  display: none;
}
/*---------------------------------------
FOOTER
-----------------------------------------*/
footer .logoside{
  padding: 50px;
}
footer .logos{
 display: flex;
 justify-content: right;
 align-items: center;
 padding-top: 30px;
}
footer .logos img{
  width: auto;
  margin: 0 10px;
}

/*---------------------------------------
DONATION BUTTON
-----------------------------------------*/
.donatebutton{
  border:none;
  padding: 15px;
  min-height: 60px;
  min-width: 180px;
  color:#FFF;
  background-color: #F0A315;
  font-size: 30px;

  -webkit-transition: background-color 0.5s;
}

.donatebutton:hover{
  border:none;
  background-color: #FCDA9C;
  -webkit-transition: background-color 0.5s;
}

.donatebutton:focus{
  border:#42A68A;
  border-radius:10px;
}

.donatebutton:active{
  background-color:#5cc4a6;
}

/*---------------------------------------
DONATION BUTTON 2
-----------------------------------------*/
.donatebutton2{
  border:none;
  padding: 15px;
  min-height: 60px;
  min-width: 180px;
  color:#FFF;
  background-color: #5cc4a6;
  font-size: 30px;

  -webkit-transition: background-color 0.5s;
}

.donatebutton2:hover{
  border:none;
  background-color: #ceede4;
  -webkit-transition: background-color 0.5s;
}

.donatebutton2:focus{
  border:#42A68A;
  border-radius:10px;
}

.donatebutton2:active{
  background-color:#5cc4a6;
}